[run]
source =
    ahorcado
    battleship
    blackjack
    buscaminas
    connect_four_game
    craps
    damas
    dungeon_raiders
    four_number
    generala
    guess_number_game
    hanoi_towers
    poker
    reversi
    ruleta
    scrabble
    senku
    sudoku
    tateti
    game.py
    game_base.py
omit =
    env/*
    */test*

[report]
exclude_lines =
    pragma: no cover
    def setUp
    def test_
    return raw_input
    print
    if __name__ == '__main__':
    def suite



