[run]
source =
    connect_four_game
    tateti
    buscaminas
    damas
    guess_number_game
    reversi
    game.py
    game_base.py

[report]
exclude_lines =
    pragma: no cover
    def setUp
    def test_
    return raw_input
    print
    if __name__ == '__main__':
    def suite

[run]
omit =
    env/*
    */test*

